.chat {
    display: block;
    flex: 2;
    background-color: rgb(239, 238, 238);
}

.name {
    text-align: center;
    margin-top: 10px;
}

.chat_header {
    display: flex;
    text-align: center;
    margin: 20px;
}

.head {
    margin: auto 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}